on:
  push:
    branches:
    - main
    - master
    - 'release/**'

permissions:
  contents: write
  pull-requests: read
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 22
        registry-url: 'https://registry.npmjs.org'

    - name: Install packages
      run: yarn --frozen-lockfile

    - name: Run Setup
      run: yarn setup
    - name: Run build
      run: yarn build

    - name: deploy build to github
      uses: JamesIves/github-pages-deploy-action@4.1.4
      with:
        branch: production
        folder: dist
        clean: true
